.container-platzhalter {
    padding-bottom: 300px;
}

.center {
    text-align: center
}

.page-header {
    font-family: Roboto;
    font-size: 45px;
}

.lead {
    font-size: 22px;
}

.h-status {
    font-size: 40px;
}

.h-info {
    font-size: 30px;
}
.container-p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/***** Box *****/

.box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box .title {
    font-size: 2rem;
}

.header-size-box {
    font-size: 2.75rem;
    font-weight: 300;
    text-align: center;
}

.text-blue {
    color: dodgerblue;
}

.box:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
}

.box-content {
    margin-bottom: 0px;
    margin-top: 0px;
}
